:root {
    --collor-primary: #4299ff;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bg-primary {
    background-color: var(--collor-primary);
}

.text-primary {
    color: var(--collor-primary);
}

.container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(228, 222, 222);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.form_wrapper {
    display: grid;
    grid-template-rows: 1px 1fr 1fr;
    width: 80%;
    min-height: max-content;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.text__header {
    color: var(--collor-primary);
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.img_container {
    display: flex;
    justify-content: center;
}

.img_main {
    /* width: 300px; */
    height: 300px;
    margin: auto auto;
}

.form_group {
    margin-bottom: 10px;
    position: relative;
}

input {
    width: 100%;
    padding: 12px;
    padding-left: 45px;
    border-radius: 8px;
    border: 2px solid rgb(207, 203, 203);
    margin-top: 5px;
    font-weight: 600;
    text-transform: none;
    box-sizing: border-box;
}

input:focus {
    border-color: transparent;
    outline: 2px solid var(--collor-primary);
}

.icon_style {
    position: absolute;
    left: 10px;
    bottom: 24px;
    color: rgb(169, 162, 162);
}

.label_forgot_pswd {
    text-align: end;
}

.forgot_pswd {
    text-decoration: none;
    font-size: 12px;
    color: var(--collor-primary);
    transition: 0.2s;
}

.forgot_pswd:hover {
    color: rgb(35, 35, 225);
}

.btn_group {
    text-align: center;
}

button {
    width: 100%;
    height: auto;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    background-color: var(--collor-primary);
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #1a6ac5;
}

.text_footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
}

.sign_in_text {
    text-decoration: none;
    color: var(--collor-primary);
}

.sign_in_text:hover {
    text-decoration: none;
    color: #1a6ac5;
}

.success_message {
    color: blue;
    border: 1px solid blue;
    padding: 3px;
    display: inline-block;
}

.error_message {
    color: red;
    border: 1px solid red;
    padding: 3px;
    display: inline-block;
}

@media screen and (min-width: 640px) {
    .form_wrapper {
        width: 60%;
        padding: 20px;
    }

    .form {
        display: block;
    }

    .img_container {
        display: flex;
        justify-content: center;
    }
}

.wrapper2 {
    display: inline-flex;
    background: #fff;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.wrapper2 .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
.wrapper2 .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.wrapper2 .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #4299ff;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
input[type="radio"] {
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
    border-color: #4299ff;
    background: #4299ff;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
    background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
    opacity: 1;
    transform: scale(1);
}
.wrapper2 .option span {
    font-size: 20px;
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
    color: #fff;
}
